<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tysgrocery">

    <application
        android:name=".notify"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Product" android:parentActivityName=".userHome"></activity>
        <activity
            android:name=".dry"
            android:parentActivityName=".userHome" />
        <activity
            android:name=".Cleaners"
            android:parentActivityName=".userHome" />
        <activity
            android:name=".FandV"
            android:parentActivityName=".userHome" />
        <activity
            android:name=".Bakery"
            android:parentActivityName=".userHome" />
        <activity
            android:name=".Dairy"
            android:parentActivityName=".userHome" />
        <activity
            android:name=".Beverages"
            android:parentActivityName=".userHome" />
        <activity
            android:name=".Upload"
            android:parentActivityName=".userHome" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".userHome" />
        <activity
            android:name=".userHome"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".register"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>